:root
{
	--text: #ffffff;
	--bg: #111;
	--panel: #333;
	--accent: #00FF4D;
	--border: solid #444 4px;
	--game-size: 900px;
	--game-elements-size: calc(var(--game-size) / 15);
}

body
{
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: 'Roboto Mono', monospace;
	background:var(--bg);
	color:var(--text);
}

#layout
{
	height: 100vh;
	display: grid;
	grid: auto / auto auto;
}

#game
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.grid {
	height: var(--game-size);
	width: var(--game-size);
	border: var(--border);
	border-radius: 10px;

	display: flex;
	flex-wrap: wrap;
}

.grid div {
	width: var(--game-elements-size);
	height: var(--game-elements-size);
}

.invader
{
	background: url("img/invader.png");
	background-size: contain;
	image-rendering: pixelated;
}

.shooter
{
	background: url("img/alien.png");
	background-size: contain;
	image-rendering: pixelated;
}

.laser
{
	background: url("img/laser.png");
	background-size: contain;
	image-rendering: pixelated;
}

.boom
{
	background: url("img/boom.png");
	background-size: contain;
	image-rendering: pixelated;
}

#side
{
	display: flex;
	flex-direction: column;
	align-self: center;
}

#side > div
{
	background: var(--panel);

	margin: 20px;
	padding: 16px;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	gap: 10px;
}

.level
{
	border: none;
	border-radius: 6px;
	cursor: pointer;
	padding: 8px;
	font-weight: bold;
}

.selected
{
	background: var(--accent);
}

.win
{
	background: url("img/alien.png");
	background-size: contain;
	image-rendering: pixelated;
}

.lose
{
	background: url("img/invader.png");
	background-size: contain;
	image-rendering: pixelated;
}
